/* styles.css */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.button-style {
    background-color: #143A7B;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border: none;
    border-radius: 15px;
    /* position: absolute; */
    right: 5%;
    bottom: 5%;
    display: flex;
    flex-direction: column; 
}

.parent-class {
    width: max-content;
}

.apply-button.disabled {
    pointer-events: none;
    opacity: 0.5; /* Optionally reduce the opacity to visually indicate it's disabled */
    cursor: not-allowed; /* Optionally change the cursor to indicate it's not clickable */
  }